*{
    margin: 1px;
    padding: 12px;
}

body {
    background-color:rgb(15, 17, 22);
    font-family: "press start 2p";
    line-height: 1.5em;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(55, 55, 55); 
    border-style: solid;
    border-color: greenyellow;
    margin: 0 auto;
    width: 50%;
}
nav a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
nav a:hover {
    color: #f39c12;
    text-decoration: underline;
}

footer {
    color: greenyellow;
}
header, footer {
    align-items: center;
    justify-content: center;
    display: flex;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#calculator {
    margin-top: 20px;
    width: 70%; 
    max-width: 100%; 
    border-style: solid;
    border-color: greenyellow;
    background-color: rgb(55, 55, 55);
    color: white;
    text-align: center;
}

#button {
    background-color: greenyellow;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    
  }
  
  #button {
    background-color: rgb(55, 55, 55); 
    color: greenyellow; 
    border: 2px solid greenyellow;
  }
  
  #button:hover {
    background-color: greenyellow;
    color: rgb(55, 55, 55);
  }

.input_c {
    color: white;
    border: 3px solid greenyellow;
    border-radius: 5px;
    padding: 10px 25px;
    background: transparent;
    background-color: rgb(55, 55, 55);
    font-size:20px;
}

.titulo {
    color: greenyellow;
}

