*{
    margin: 1px;
    padding: 12px;
}

body {
    background-color:rgb(15, 17, 22);
    font-family: "press start 2p";
    line-height: 1.5em;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(55, 55, 55); 
    border-style: solid;
    border-color: greenyellow;
    margin: 0 auto;
    width: 50%;
}
nav a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
nav a:hover {
    color: #f39c12;
    text-decoration: underline;
}

footer {
    color: greenyellow;
}
header, footer {
    align-items: center;
    justify-content: center;
    display: flex;
}

.titulos {
    color: greenyellow;
    text-align: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#converter {
    margin-top: 20px;
    width: 70%; 
    max-width: 100%; 
    border-style: solid;
    border-color: greenyellow;
    background-color: rgb(55, 55, 55);
    color: white;
    text-align: center;
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    color: white;
    border: 3px solid greenyellow;
    border-radius: 5px;
    padding: 10px 25px;
    background: transparent;
    background-color: rgb(55, 55, 55);
    height: 30px;
    width: 50%;
    font-size:20px;
}